header {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    color: rgb(0, 0, 0);
    transform-style: preserve-3d;
    position: relative;
    font-size: 20vh;
}

.red {
    color: #febcc8;
}

ul {
    list-style-type: none !important;
}